<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CHEO Telethon Batch Entry</title>
  <meta name="description" content="Batch Entry">
  <meta name="author" content="Diskdaddy">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

 
</head>

<body>
  <!--<script src="js/scripts.js"></script>-->
  <H1> CHEO Telethon Batch Entry</H1>

 

  <form action=""><div>
	<p>Batch Number : <input type="text" name="batchNumber"/>
	<p>Total : <input type="text" name="total"/>
	<p>Sub-Total : <input type="text" name="subTotal"/>
    <hr/>
	<p>Amount : <input type="text" name=""  />
  <p>Pledge Number : <input type="text" name=""  />
  <p>First Name : <input type="text" name=""  />
  <p>Last Name : <input type="text" name=""  />
  <p>Organization : <input type="text" name=""  />
  <p>City : <input type="text" name=""  />
		
	<div><input type="submit" value="submit"></div>
   </form>
</body>
</html>
