<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CHEO Telethon Login Page</title>
  <meta name="description" content="Login Page">
  <meta name="author" content="Diskdaddy">

  <!--<link rel="stylesheet" href="css/styles.css?v=1.0">-->

 
</head>

<body>
  <!--<script src="js/scripts.js"></script>-->
  <H1> CHEO Telethon Login Page</H1>

 

  <form action=""><div>
	<p>Username : <input type="text" name="username"/>
	<p>Password : <input type="password" name="password"/>
	<p>Server : <input type="text" name="server" value="192.168.1.200"/>
	<p>Port : <input type="text" name="port" value="2000" />
		
	<div><input type="submit" value="submit"></div>
   </form>
</body>
</html>
